{% layout "layout.liquid" %} 

{% block content %} 
<link rel="stylesheet" href="/css/form.css">

<form class="form" action="/binge/mylist/{{movie._id}}/?_method=PUT" method="post">
    <h1>Edit "{{movie.title}}"</h1>

    <div class="area">
    <legend>Title</legend>
    <input type="text" name="title" value="{{movie.title}}"" required>
    </div>

    {% if movie.type == "movie" %} 
    <div class="areaTwo">
    <legend>Type</legend>
    Movie:<input type="radio" name="type" value="movie" required checked>
    Show:<input type="radio" name="type" value="show" required>
    </div>
    {% else %} 
    <div class="areaTwo">
    <legend>Type</legend>
    Movie:<input class="radio" type="radio" name="type" value="movie" required>
    Show:<input class="radio" type="radio" name="type" value="show" required checked>
    </div>
    {% endif %}

    <div class="area">
    <legend>Release Date</legend>
    <input type="text" name="releaseDate" value="{{movie.releaseDate}}">
    </div>

    <div class="area">
    <legend>Poster</legend>
    <input type="text" name="img" value="{{movie.img}}">
    </div>

    <div class="area">
    <legend>Description</legend>
        <input type="text" name="desc" value="{{movie.desc}}">
    </div>

    <div class="area">
    <legend>Directed By:</legend>
        <input type="text" name="director" value="{{movie.director}}">
    </div>

    <div class="cast">
    <legend>Cast</legend>
        <input type="text" name="cast1" value="{{movie.cast.cast1}}">
        <input type="text" name="cast2" value="{{movie.cast.cast2}}">
        <input type="text" name="cast3" value="{{movie.cast.cast3}}">
    </div>
    <input class="submit" type="submit">
</form>



{% endblock %}