{% layout "layout.liquid" %}

{% block content %} 
<link rel="stylesheet" href="/css/show.css">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="/js/castimg.js" defer></script>

<div class="body">
<div class="title">
<h1>{{movie.title}}</h1>
<p>{{movie.releaseDate}}</p>
<img src="{{movie.img}}">
</div>

<div class="desc">
    <h3>Overview</h3>
    <article>{{movie.desc}}</article>
    <h4>Directed by:</h4>
    <article>{{movie.director}}</article>
    <h4>Cast</h4>
    <ul>
        <li>
            <p class="cast cOne">{{movie.cast.cast1}}</p>
        </li>
        <li>
            <p class="cast cTwo">{{movie.cast.cast2}}</p>
        </li>
        <li>
            <p class="cast cThree">{{movie.cast.cast3}}</p>
        </li>
    </ul>

        <div class="editDel">    
        <a href="/binge/mylist/{{movie._id}}/edit">
            <button>EDIT</button>
        </a>

        <form action="/binge/mylist/{{movie._id}}/?_method=DELETE" method="post">
            <button>DELETE</button>
        </form> 
        </div>
</div>
</div>
{% endblock %}